.main-body
  .main-body__objective-body
    .main-body__objective-body__title
      = @objective.aim
    .main-body__objective-body__field
      .main-body__objective-body__field__topic
        ※本日実践した量もしくは時間を入力してください
      .main-body__objective-body__field__form
        = form_with model: @amount, url: objective_amounts_path(@objective.id), local: true do |form|
          .main-body__objective-body__field__form__amount
            = form.number_field :amount
            = @objective.unit
            = form.submit '追加する'
          -# .main-body__objective-body__field__form__unit
          -#   = @objective.unit
          -# .main-body__objective-body__field__form__submit
          -#   = form.submit '追加する'
    .main-body__objective-body__info
      .main-body__objective-body__info__record
        .main-body__objective-body__info__record__title
          記録一覧
        .main-body__objective-body__info__record__space
          .main-body__objective-body__info__record__space__date
            10月10日
          .main-body__objective-body__info__record__space__amount
            3時間
      .main-body__objective-body__info__details
        .main-body__objective-body__info__details__title
          記録の詳細
        .main-body__objective-body__info__details__space
          .main-body__objective-body__info__details__space__max-amount
            1日での最大量
          .main-body__objective-body__info__details__space__average
            1日あたりの平均
.footer
  continuation-diary