.main-body
  .main-body__objective-body
    .main-body__objective-body__title
      = @objective.aim
      .main-body__objective-body__title__mypage
        = link_to "マイページへ戻る", user_path(current_user.id), class: 'btn'
    .main-body__objective-body__field
      .main-body__objective-body__field__topic
        ※本日実践した量もしくは時間を入力してください
      .main-body__objective-body__field__form
        = form_with model: @amount, url: objective_amounts_path(@objective.id), local: true do |form|
          .main-body__objective-body__field__form__amount
            = form.number_field :amount
            = @objective.unit
            = form.submit '追加する'
    .main-body__objective-body__info
      .main-body__objective-body__info__record
        .main-body__objective-body__info__record__title
          記録一覧
        .main-body__objective-body__info__record__space
          - @amounts.each do |amount|
            .main-body__objective-body__info__record__space__amount
              .main-body__objective-body__info__record__space__amount__date
                = amount.created_at.strftime("%Y年%-m月%-d日")
              .main-body__objective-body__info__record__space__amount__amount
                = amount.amount.to_s + "#{@objective.unit}"
      .main-body__objective-body__info__details
        .main-body__objective-body__info__details__title
          記録の詳細
        .main-body__objective-body__info__details__space
          .main-body__objective-body__info__details__space__field
            .main-body__objective-body__info__details__space__field__max-amount
              = "1日の最大値：" + "#{@detail.maximum("amount")}" + "#{@objective.unit}"
            .main-body__objective-body__info__details__space__field__average
              = "トータル：" + "#{@sum}" + "#{@objective.unit}"
    .main-body__objective-body__delete
      .main-body__objective-body__delete__btn
        = link_to "この目標を削除する", objective_path(@objective.id),method: :delete, class: :form
    .main-body__objective-body__notice
      ※削除するとこれまで登録した記録が確認できなくなります。ご注意ください
.footer
  continuation-diary