.amount-body
  .amount-body__field
    .amount-body__field__title
      = "#{@objective.aim}" + "の記録一覧"
      .amount-body__field__title__back
        = link_to "一つ前へ戻る", objective_path, class: 'btn'
    .amount-body__field__logs
      - @amounts.each do |amount|
        .amount-body__field__logs__log
          .amount-body__field__logs__log__date
            = amount.created_at.strftime("%Y年%-m月%-d日")
          .amount-body__field__logs__log__amount
            = amount.amount.to_s + "#{@objective.unit}"
          .amount-body__field__logs__log__delete
            = link_to "削除", amount_path(amount.id), method: :delete
.footer
  continuation-diary